.navbar {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  form {
    display: flex;
    gap: 0.5rem;

    input[type="text"]:first-child {
      width: calc((1em + 0.5rem) * 13);
    }
  }
}

.left {
  &form {
    display: flex;
  }
}
